---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      {% if page.title and page.hide_page_title != true %}
        <h1 class="page__title">{{ page.title }}</h1>
      {% endif %}
    {% endunless %}
    {% if page.sidebar_blog %}
    <div class="blog-layout">
      <div class="blog-layout__main">
        {{ content }}
      </div>
      <aside class="blog-layout__sidebar">
        {% include blog-sidebar.html %}
      </aside>
    </div>
    {% else %}
    {{ content }}
    {% endif %}
  </div>
</div>
